---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Projects from '../components/Projects.astro';
import { data } from '../data'
---

<Layout title="Welcome to my portfolio website">
	<main>
		<header class="text-3xl text-center font-bold my-4">
			Welcome to my portfolio website
		</header>
		<Projects 
			projects={data}
		/>
	</main>
</Layout>



