--- 
import { ViewTransitions } from 'astro:transitions';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="text-[12px] sm:text-[16px]">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="nephriteagain portfolio projects">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="body flex flex-col items-center bg-background">
		<slot />
		<p class="fixed bottom-2 right-2 opacity-30  text-lg sm:text-sm italic">made with astro 3.0</p>	
	</body>
</html>

<style is:global>
	* {
		box-sizing: border-box;
	}

	html {
		scroll-behavior: smooth;
	}

	/* Style the scrollbar track */
	::-webkit-scrollbar {
	width: 6px; /* Set the width of the scrollbar */
	}

	/* Style the scrollbar thumb (the draggable part) */
	::-webkit-scrollbar-thumb {
	background-color: #888; /* Color of the thumb */
	border-radius: 3px; /* Rounded corners for the thumb */
	}

	/* Style the scrollbar thumb when hovered */
	::-webkit-scrollbar-thumb:hover {
	background-color: #555; /* Color of the thumb on hover */
	}

	/* Style the scrollbar track when the thumb is grabbed (clicked) */
	::-webkit-scrollbar-thumb:active {
	background-color: #333; /* Color of the thumb when active */
	}

</style>

<script data-goatcounter="https://nephrite.goatcounter.com/count"
async src="//gc.zgo.at/count.js"></script>

